<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <input type="text" name="skill" placeholder="Skill">
  <input type="text" name="proficiency" placeholder="proficiency">
  <button type="submit">Record Skill</button>
</form>

<%- include('../partials/footer') %>